// Color
$sooka-primary: #F7613F;
$sooka-primary-rgb: 247, 97, 63;
$sooka-secondary: #FFEAD0;
$sooka-secondary-rgb: 255, 234, 208;
$sooka-dark: #323031;
$sooka-dark-rgb: 50, 48, 49;
$sooka-light: #FFF;
$sooka-light-rgb: 255, 255, 255;

// Reset
$font-size-base: 1.6rem;
$line-height-base: 1.8;

// Typography
$font-sets: (
    mulish: ('Mulish')
);

// Spacing
$spacing: 15;
$max: 6rem;
$spacer: 1rem !default;
$spacers: make-space($spacing);

// Navbar
$navbar-height: 10rem;
$navbar-height-mobile: 7.5rem;
$navbar-padding-y: 1.5rem;
$navbar-link-padding-x: 1.75rem;
$nav-link-font-size: 1.4rem;
$nav-link-font-weight: 600;
$nav-link-padding-x: 1.5rem;
$navbar-light-color: $sooka-light;
$navbar-light-hover-color: $sooka-primary;
$navbar-light-active-color: $sooka-primary;
$navbar-light-brand-color: $sooka-light;
$navbar-dark-color: $sooka-dark;
$navbar-dark-hover-color: $sooka-primary;
$navbar-dark-active-color: $sooka-primary;
$navbar-dark-brand-color: $sooka-dark;

// Footer
$footer-height: 30rem;
$footer-height-mobile: 30rem;

// Transition Speed
$transition-speed: .25s;

// Grid Spacing
$grid-gutter-width: 3rem !default;

// Overlay
$overlays: 6;

// Input
$input-bg: transparent;
$input-border-radius: 0;
$input-border-color: transparentize(#F5F5F5, .35);
//$input-focus-border-color: $p-dark;

// Input Validation
//$form-feedback-font-size: 12px;
//$form-feedback-font-style:          $form-text-font-style;
//$form-feedback-valid-color:         $success;
//$form-feedback-invalid-color:       $danger;

// Floating Input
$form-floating-height: 5rem;
$form-floating-padding-x: 0;
$form-floating-padding-y: .5rem;
$form-floating-input-padding-t: 2rem;
$form-floating-input-padding-b: .5rem;
$form-floating-label-transform: scale(.35) translateY(-1.5rem) translateX(.15rem);
$form-floating-label-center-transform: scale(.35) translateY(-1.5rem) translateX(calc(-50% + .15rem));
$form-floating-transition-timing: .15s;
$form-floating-transition: opacity $form-floating-transition-timing ease-in-out, transform $form-floating-transition-timing ease-in-out, font-weight $form-floating-transition-timing ease-in-out, color $form-floating-transition-timing ease-in-out;

// Background Colors
$bg-color-sets: (
    primary: $sooka-primary,
    secondary: $sooka-secondary,
    dark: $sooka-dark,
    light: $sooka-light,
);

// Font Sizes
$font-sizes-set: (
    10: 1rem,
    12: 1.2rem,
    14: 1.4rem,
    18: 1.8rem,
    20: 2rem,
    24: 2.4rem,
    28: 2.8rem,
    30: 3rem,
    60: 6rem,
    80: 8rem,
    90: 9rem,
    100: 10rem,
);

// Font Weight
$font-weights-set: 100, 200, 300, 400, 600, 700;