.mt {
    &--top {
        margin-top: var(--bs-navbar-height);
    }
}

.ts {
    &--margin {
        margin-top: var(--bs-navbar-height);

        &.ts--primary {
            @extend %position-relative;

            &:before {
                @extend %position-absolute;

                content: '';
                top: calc(var(--bs-navbar-height) * -1);
                left: 0;
                width: 100%;
                height: var(--bs-navbar-height);
                background-color: $sooka-primary;
                pointer-events: none;
            }
        }
    }
}