%navigation-link {
    @extend %text-uppercase;

    letter-spacing: .2rem;
}

%navbar-active {
    --bs-primary-rgb: #{$sooka-primary-rgb};
    --bs-navbar-active-color: #{$sooka-dark};
    --bs-navbar-hover-color: #{$sooka-dark};
}

.navbar {
    --bs-navbar-nav-link-padding-x: #{$navbar-link-padding-x};
    --bs-navbar-transition-speed: .3s;

    height: var(--bs-navbar-height);

    @include media-breakpoint-down(lg) {
        --bs-navbar-padding-y: 1.5rem;
    }

    @include make-transition(background-color, var(--bs-navbar-transition-speed));

    @include media-breakpoint-up(lg) {
        &[style*='--transition'] {
            @include make-variants-transition(var(--transition) var(--bs-navbar-transition-speed), background-color var(--bs-navbar-transition-speed));
        }
    }

    &-brand {
        max-width: 10rem;

        //@include media-breakpoint-down(lg) {
        svg path {
            @include make-transition(fill, var(--bs-navbar-transition-speed));
        }

        //}

        @include media-breakpoint-up(lg) {
            max-width: 15rem;
        }
    }

    .nav {
        &-link {
            @extend %navigation-link;
        }
    }

    &:not([class*='--open']) {
        @include media-breakpoint-down(lg) {
            @include make-transition(background-color, var(--bs-navbar-transition-speed), .15s);

            .navbar {
                &-brand {
                    svg path {
                        @include make-transition(fill, var(--bs-navbar-transition-speed), .15s);
                    }
                }
            }
        }
    }

    &--open {
        @extend %navbar-active;
    }

    &.bg {
        &-primary {
            @extend %navbar-active;
        }
    }

    > .container {
        @include media-breakpoint-down(lg) {
            flex-direction: row-reverse;
        }
    }
}