.simple-cms {
    &__navigation {
        @extend %py-3, %position-relative;

        &:before {
            @extend %position-absolute;

            content: '';
            background-color: $sooka-primary;
            height: calc(100vh + 5rem - var(--bs-navbar-height) - var(--bs-footer-height));
            width: 50vw;
            right: 0;
            top: -5rem;
            z-index: -1;
            pointer-events: none;
        }
    }
}