.banner {
    &--section {
        @extend %bg-secondary, %fc-dark;

        padding-top: 5rem;
        padding-bottom: 5rem;

        .banner {
            &__title {
                @extend %text-center;

                h1 {
                    @extend %fw-100, %fs-60, %fs-md-90;

                    line-height: .9;
                }

                > div {
                    @extend %fs-md-20;

                    line-height: 1.5;

                    @include media-breakpoint-up(lg) {
                        line-height: 1.3;
                    }
                }
            }

        }
    }
}