.btn {
    &--disabled {
        pointer-events: none;
        opacity: var(--bs-btn-disabled-opacity);
    }

    &--unstyled {
        padding: 0;
        border-radius: 0;
    }

    &--nav-toggle {
        @include btn-nav-toggle();

        &.btn {
            &--primary {
                @include btn-nav-toggle-color($sooka-primary)
            }

            &--light {
                @include btn-nav-toggle-color($sooka-light)
            }

            &--dark {
                @include btn-nav-toggle-color($sooka-dark)
            }
        }
    }
}