.offcanvas {
    &--navigation {
        --bs-offcanvas-width: 12.5rem;
        --bs-offcanvas-padding-x: calc(#{$grid-gutter-width} * 0.5);
        --bs-offcanvas-padding-y: calc(#{$grid-gutter-width} * 0.5);
        --bs-offcanvas-bg: #{$sooka-primary};
        --bs-offcanvas-color: #{$sooka-light};
        --bs-offcanvas-border-width: 0;

        top: var(--bs-navbar-height, 0) !important;

        .list-unstyled {
            li {
                &:not(:first-child) {
                    margin-top: 1rem;
                }
            }

            a {
                @extend %navigation-link;

                color: $sooka-light;
                font-weight: 600;
            }
        }
    }
}